colorama==0.3.9
decorator==4.1.2
Flask==0.12.2
gunicorn==19.7.1
Flask-Cors==3.0.3
gevent==1.2.2
glob2==0.5
heapdict==1.0.0
Jinja2==2.9.6
jsonschema==2.6.0
lxml==4.1.0
MarkupSafe==1.0
matplotlib==2.1.0
numexpr==2.6.2
numpy==1.22.0
numpydoc==0.7.0
pandas==0.20.3
path.py==10.3.1
pep8==1.7.0
py==1.4.34
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
PySocks==1.6.7
pytest==3.2.1
python-bittrex==0.2.1
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==0.19.1
SQLAlchemy==1.1.13
tables==3.4.2
testpath==0.3.1
typing==3.6.2
urllib3==1.22

